In [9]:
# Titanic Notebook by Kelvin using Neural Network
# Created Sept 16 2021
# Last Modified Sept 16 2021

import numpy as np
import pandas as pd

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [10]:
# Dropping columns that not useful

train = train.drop(['Name', 'Age', 'Ticket', 'Fare', 'Cabin', 'Embarked'], axis=1)

test = test.drop(['Name', 'Age', 'Ticket', 'Fare', 'Cabin', 'Embarked'], axis=1)

In [11]:
train.head()

   PassengerId  Survived  Pclass     Sex  SibSp  Parch
0            1         0       3    male      1      0
1            2         1       1  female      1      0
2            3         1       3  female      0      0
3            4         1       1  female      1      0
4            5         0       3    male      0      0

In [12]:
test.head()

   PassengerId  Pclass     Sex  SibSp  Parch
0          892       3    male      0      0
1          893       3  female      1      0
2          894       2    male      0      0
3          895       3    male      0      0
4          896       3  female      1      1

In [13]:
# Encode Sex Column
# Importing LabelEncoder

from sklearn.preprocessing import LabelEncoder
label_encoder_sex = LabelEncoder()

train.iloc[:,3] = label_encoder_sex.fit_transform(train.iloc[:,3])
test.iloc[:,2] = label_encoder_sex.fit_transform(test.iloc[:,2])

In [14]:
# After encoding
train.head()

   PassengerId  Survived  Pclass  Sex  SibSp  Parch
0            1         0       3    1      1      0
1            2         1       1    0      1      0
2            3         1       3    0      0      0
3            4         1       1    0      1      0
4            5         0       3    1      0      0

In [15]:
# After encoding
test.head()

   PassengerId  Pclass  Sex  SibSp  Parch
0          892       3    1      0      0
1          893       3    0      1      0
2          894       2    1      0      0
3          895       3    1      0      0
4          896       3    0      1      1

In [17]:
# Rearrange Columns
train = train[['PassengerId', 'Pclass', 'Sex', 'SibSp', 'Parch', 'Survived']]
test = test[['PassengerId', 'Pclass', 'Sex', 'SibSp', 'Parch']]

In [19]:
X_train = train.iloc[:, 0:4] # Input
y_train = train.iloc[:, 5] # Train Output

In [21]:
# Normalize data
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_trainsform(test)

AttributeError: 'StandardScaler' object has no attribute 'fit_trainsform'

In [35]:
# Import Keras for model building
import keras

from keras.models import Sequential
from keras.layers import Dense

model = Sequential()

model.add(Dense(3, activation = 'relu', input_dim = 4))
model.add(Dense(2, activation = 'relu'))
model.add(Dense(1, activation = 'sigmoid'))

In [36]:
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
model.fit(X_train, y_train, epochs = 50)

Epoch 1/50
28/28 [==============================] - 0s 3ms/step - loss: 0.6682 - accuracy: 0.5556
Epoch 2/50
28/28 [==============================] - 0s 4ms/step - loss: 0.6525 - accuracy: 0.6094
Epoch 3/50
28/28 [==============================] - 0s 4ms/step - loss: 0.6406 - accuracy: 0.6790
Epoch 4/50
28/28 [==============================] - 0s 4ms/step - loss: 0.6311 - accuracy: 0.7205
Epoch 5/50
28/28 [==============================] - 0s 3ms/step - loss: 0.6231 - accuracy: 0.7374
Epoch 6/50
28/28 [==============================] - 0s 4ms/step - loss: 0.6159 - accuracy: 0.7486
Epoch 7/50
28/28 [==============================] - 0s 4ms/step - loss: 0.6091 - accuracy: 0.7587
Epoch 8/50
28/28 [==============================] - 0s 5ms/step - loss: 0.6025 - accuracy: 0.7710
Epoch 9/50
28/28 [==============================] - 0s 6ms/step - loss: 0.5960 - accuracy: 0.7789
Epoch 10/50
28/28 [==============================] - 0s 3ms/step - loss: 0.5896 - accuracy: 0.7811
Epoch 11/50
28/28 [==============================] - 0s 2ms/step - loss: 0.5832 - accuracy: 0.7823
Epoch 12/50
28/28 [==============================] - 0s 2ms/step - loss: 0.5767 - accuracy: 0.7890
Epoch 13/50
28/28 [==============================] - 0s 2ms/step - loss: 0.5706 - accuracy: 0.7890
Epoch 14/50
28/28 [==============================] - 0s 2ms/step - loss: 0.5648 - accuracy: 0.7901
Epoch 15/50
28/28 [==============================] - 0s 2ms/step - loss: 0.5586 - accuracy: 0.7901
Epoch 16/50
28/28 [==============================] - 0s 3ms/step - loss: 0.5528 - accuracy: 0.7946
Epoch 17/50
28/28 [==============================] - 0s 3ms/step - loss: 0.5477 - accuracy: 0.7946
Epoch 18/50
28/28 [==============================] - 0s 2ms/step - loss: 0.5426 - accuracy: 0.7912
Epoch 19/50
28/28 [==============================] - 0s 2ms/step - loss: 0.5378 - accuracy: 0.7957
Epoch 20/50
28/28 [==============================] - 0s 2ms/step - loss: 0.5333 - accuracy: 0.7991
Epoch 21/50
28/28 [==============================] - 0s 2ms/step - loss: 0.5291 - accuracy: 0.8025
Epoch 22/50
28/28 [==============================] - 0s 2ms/step - loss: 0.5250 - accuracy: 0.7991
Epoch 23/50
28/28 [==============================] - 0s 3ms/step - loss: 0.5214 - accuracy: 0.7957
Epoch 24/50
28/28 [==============================] - 0s 3ms/step - loss: 0.5176 - accuracy: 0.7957
Epoch 25/50
28/28 [==============================] - 0s 2ms/step - loss: 0.5141 - accuracy: 0.7890
Epoch 26/50
28/28 [==============================] - 0s 2ms/step - loss: 0.5110 - accuracy: 0.7901
Epoch 27/50
28/28 [==============================] - 0s 2ms/step - loss: 0.5078 - accuracy: 0.7912
Epoch 28/50
28/28 [==============================] - 0s 2ms/step - loss: 0.5050 - accuracy: 0.7912
Epoch 29/50
28/28 [==============================] - 0s 2ms/step - loss: 0.5023 - accuracy: 0.7946
Epoch 30/50
28/28 [==============================] - 0s 2ms/step - loss: 0.4998 - accuracy: 0.7957
Epoch 31/50
28/28 [==============================] - 0s 3ms/step - loss: 0.4973 - accuracy: 0.7980
Epoch 32/50
28/28 [==============================] - 0s 2ms/step - loss: 0.4949 - accuracy: 0.7980
Epoch 33/50
28/28 [==============================] - 0s 2ms/step - loss: 0.4927 - accuracy: 0.7957
Epoch 34/50
28/28 [==============================] - 0s 2ms/step - loss: 0.4906 - accuracy: 0.7957
Epoch 35/50
28/28 [==============================] - 0s 2ms/step - loss: 0.4886 - accuracy: 0.7957
Epoch 36/50
28/28 [==============================] - 0s 2ms/step - loss: 0.4868 - accuracy: 0.7969
Epoch 37/50
28/28 [==============================] - 0s 2ms/step - loss: 0.4850 - accuracy: 0.7957
Epoch 38/50
28/28 [==============================] - 0s 2ms/step - loss: 0.4832 - accuracy: 0.7957
Epoch 39/50
28/28 [==============================] - 0s 2ms/step - loss: 0.4817 - accuracy: 0.7969
Epoch 40/50
28/28 [==============================] - 0s 2ms/step - loss: 0.4800 - accuracy: 0.7969
Epoch 41/50
28/28 [==============================] - 0s 2ms/step - loss: 0.4785 - accuracy: 0.7991
Epoch 42/50
28/28 [==============================] - 0s 2ms/step - loss: 0.4770 - accuracy: 0.7991
Epoch 43/50
28/28 [==============================] - 0s 3ms/step - loss: 0.4758 - accuracy: 0.8002
Epoch 44/50
28/28 [==============================] - 0s 2ms/step - loss: 0.4743 - accuracy: 0.8002
Epoch 45/50
28/28 [==============================] - 0s 2ms/step - loss: 0.4731 - accuracy: 0.8013
Epoch 46/50
28/28 [==============================] - 0s 2ms/step - loss: 0.4718 - accuracy: 0.8002
Epoch 47/50
28/28 [==============================] - 0s 2ms/step - loss: 0.4706 - accuracy: 0.8013
Epoch 48/50
28/28 [==============================] - 0s 2ms/step - loss: 0.4695 - accuracy: 0.8025
Epoch 49/50
28/28 [==============================] - 0s 2ms/step - loss: 0.4684 - accuracy: 0.8025
Epoch 50/50
28/28 [==============================] - 0s 2ms/step - loss: 0.4674 - accuracy: 0.8036